.contents {
  width: 80%;
  margin: auto;
}
.product {
  width: 40%;
  float:left;
  height: 450px;
}
.img-product img {
  float: left;
  height: 450px;
  width: 450px;
}
.desc {
  padding-bottom: 80px;
}
