header {
  background-color: #ff5000;
  text-align: center;
  font-family: 'Oswald', sans-serif;
}
.header-page {
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}
.header-page-right {
  float: right;
}
