@import "scss/config.min.css";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;

  // TODO fleiri grunn stillingar
}



// TODO sækja allar sass skrár
@import "scss/index.min.css";
@import "scss/header.min.css";
@import "scss/footer.min.css";
@import "scss/course.min.css";
@import "scss/cart.min.css";
@import "scss/products.min.css";
@import "scss/staff.min.css";
