@import "scss/config.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
}

// TODO sækja allar sass skrár
@import "scss/index.scss";
@import "scss/header.scss";
@import "scss/footer.scss";
@import "scss/course.scss";
@import "scss/cart.scss";
@import "scss/products.scss";
@import "scss/staff.scss";
